aldryn-apphooks-config==0.7.0
asgiref==3.6.0
borneo==5.4.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
circuitbreaker==1.4.0
couchbase==4.1.8
cryptography==41.0.6
cssselect2==0.7.0
Deprecated==1.2.14
Django==4.2.7
django-appdata==0.4.0
django-autocomplete-light==3.9.7
django-blog-lotus==0.7.0
django-ckeditor==6.7.0
django-classy-tags==4.1.0
django-cms==3.11.4
django-el-pagination==3.0.1
django-filer==3.1.0
django-formtools==2.4.1
django-js-asset==2.1.0
django-markdown-deux==1.0.6
django-meta==2.4.0
django-pagedown==2.2.1
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-simple-math-captcha==2.0.1
django-smart-media==0.3.1
django-sortedm2m==3.1.1
django-taggit==5.0.1
django-taggit-autosuggest==0.4.1
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.7
djangocms-admin-style==3.2.6
djangocms-apphook-setup==0.5.0
djangocms-text-ckeditor==5.1.4
easy-thumbnails==2.8.5
fusionauth-client==1.47.0
html5lib==1.1
idna==3.4
josepy==1.13.0
lxml==4.9.3
markdown2==2.4.10
mozilla-django-oidc==3.0.0
oci==2.114.0
packaging==23.2
Pillow==10.2.0
pycparser==2.21
pycryptodome==3.19.1
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
reportlab==4.0.7
requests==2.31.0
six==1.16.0
sorl-thumbnail==12.10.0
sqlparse==0.4.4
stripe==7.1.0b1
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.8.0
urllib3==2.0.7
webencodings==0.5.1
wrapt==1.15.0
