asgiref==3.6.0
borneo==5.4.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
circuitbreaker==1.4.0
couchbase==4.1.8
cryptography==41.0.4
Deprecated==1.2.14
Django==4.2.1
fusionauth-client==1.47.0
idna==3.4
josepy==1.13.0
mozilla-django-oidc==3.0.0
oci==2.114.0
pycparser==2.21
pycryptodome==3.19.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==7.1.0b1
typing_extensions==4.8.0
urllib3==2.0.7
wrapt==1.15.0
