.lotus-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.card-text {
    color: #fff;
}

.card {
    background-color: #2c2f33;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    color: #fff;
    padding: 16px 31px;
    text-decoration: none;
    margin: 10px;
}

.text-black {
    color: #fff !important;
}

.text-dark {
    color: #eee !important;
}

.text-muted {
    color: #cccccc !important;
}

.list-group-item {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-decoration-color: #cccccc;
}

a {
    color: #fff;
}