{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home | Skyzer Development
{% endblock %}
{% block description %}
    The home page for Skyzer Development. This page contains links to our GitHub and GitLab pages, as well as a link to our Discord bot, Nitrado Server Guardian used for managing Nitrado services such as Ark Survival Evolved and Ark Survival Ascended.
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid landing-image" src="{% static 'img/landing_image.svg' %}" alt="Image of the mascot waving">
            </div>
            <div class="col-lg-6">
                <h1>Welcome to Skyzer Development!</h1>
                <h2 class="h5"> The home of the Server Guardian Discord bot</h2>
                <p>Find some of our projects on the links below.</p>
                <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-secondary custom_button no-select" href="https://github.com/SkyzerFlyzer">
                        <img class="button-img" src="{% static 'img/github.svg' %}" alt="GitHub Logo">
                        GitHub
                    </a>
                    <a class="btn btn-secondary custom_button no-select" href="https://gitlab.com/SkyzerFlyzer">
                        <img class="button-img" src="{% static 'img/gitlab.svg' %}" alt="GitLab Logo">
                        GitLab
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-secondary custom_button no-select" href={% url 'nitrado_server_guardian' %}>
                        <img class="button-img" src="{% static 'img/nitrado_server_guardian.svg' %}" alt="Nitrado Server Guardian Logo">
                        Nitrado Server Guardian
                    </a>
                </div>
            </div>
            </div>

        </div>
    </div>
{% endblock %}