{% extends 'coming_soon.html' %}
{% load static %}
{% block title %}
    Server Guardian | Skyzer Development
{% endblock %}
{% block description %}
    Nitrado Server Guardian is a Discord bot that allows you to monitor your servers and be notified when they go down.
    This bot is currently in development and only available for Nitrado services at this time.
    The bot has premium features for game servers running ARK: Survival Evolved and ARK: Survival Ascended.
    Premium features include but is not limited to: Server Logs, Server Status and the ability to add multiple accounts.
{% endblock %}